body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: yellow;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center; 
}